/*
Copyright 2020-2021 Voxel Labs, Inc.
All rights reserved.

This document may not be reproduced, republished, distributed, transmitted,
displayed, broadcast or otherwise exploited in any manner without the express
prior written permission of Voxel Labs, Inc. The receipt or possession of this
document does not convey any rights to reproduce, disclose, or distribute its
contents, or to manufacture, use, or sell anything that it may describe, in
whole or in part.
*/
.download button {
  background: none;
  border: none;
}

.download svg {
  height: 30px;
  width: 30px;
  margin: 2px 0 0 0;
  color: #ccccd6;
  transition: color 0.2s ease;
}

.download svg:hover {
  color: #9a9aad;
}
