@tailwind utilities;

@layer utilities {
  /* Hide scrollbar but allow scrolling */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* for Chrome, Safary, Opera */
  }
}
